<h1>CatCatCat</h1>

<div>
  <h2>
    Add a new cat
  </h2>

  <form action="/insert_cat" method="post">
    <div>
      <label for="name_box" class="form-label">
        Name
      </label>

      <input type="text" id="name_box" name="query_name" class="form-control">
    </div>

    <button class="btn btn-outline-primary mt-2">
      Create cat
    </button>
  </form>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_cats.each do |a_cat| %>
      <tr>
        <td>
          <%= a_cat.id %>
        </td>

        <td>
          <%= a_cat.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_cat.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_cat.updated_at) %> ago
        </td>

        <td>
          <a href="/cats/<%= a_cat.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
